name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # A cada 12h
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # Gerando a versão 3D com a sua paleta personalizada Roxo/Verde
            # Cobra Roxo Escuro (#4c1d95) | Pontos indo do Verde Escuro ao Lilás
            dist/github-snake-3d.svg?color_snake=#4c1d95&color_dots=#161b22,#0e4429,#006d32,#a78bfa,#d2a8ff
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
