name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # Paleta Roxo & Verde Neon
            # Cobra: Verde Neon (#00ff00)
            # Dots: Fundo Preto -> Roxo Escuro -> Roxo Médio -> Roxo Claro -> Lilás Neon
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#00ff00&color_dots=#161b22,#2e1065,#5b21b6,#7c3aed,#d8b4fe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
